@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  max-width: 1000px;
  margin: auto;
}
/* -------------------main-wrap----------------------------------------------------- */
.main__wrap {
  background: url(../assets/bg-main.jpg) no-repeat;
  padding-top: 2rem;
  height: 100vh;
  margin: auto;
}

.header__box_item {
  text-align: center;
  padding-bottom: 1rem;
}
.logo a {
  font-size: 2.5rem;
  color: aliceblue;
  font-family: "Redressed", cursive;
}
.menu__list {
  display: flex;
  justify-content: space-around;
}
.menu__list_item a {
  position: relative;
  color: aliceblue;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.menu__list_item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: aliceblue;
  left: 0;
  bottom: -3px;
  transform: scale(0);
  transition: 0.3s;
}
.menu__list_item a:hover::before {
  transform: scale(1);
}
.main__content_box {
  margin-top: 5rem;
}
.main__content_header {
  padding: 0 2rem;
  color: aliceblue;
  text-align: center;
  margin: auto;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.main__content_p {
  color: rgb(0, 0, 0);
  margin-top: 5rem;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
}
.main__content_contact {
  background-color: #5c6bc0;
  width: 60%;
  margin: auto;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3rem;
  border-radius: 30px;
  padding: 20px;
  cursor: pointer;
  transition: ease-out 0.5s;
  color: aliceblue;
}
.main__content_contact:hover {
  background-color: #6c74e7;
}
.contact__btn {
  color: rgb(255, 255, 255);
}

.main__content_society {
  width: 70%;
  margin: auto;
  margin-top: 30%;
}
.society__box {
  display: flex;
  background: rgb(255, 255, 255);
  justify-content: space-around;
  padding: 1rem;
  border-radius: 30px;
}
.society__box_item img {
  width: 2rem;
  transition: 0.5s;
  border: solid 1px white;
}
.society__box_item img:hover {
  transform: scale(0.9);
}
/* -----------------------tour------------------------------- */

.wrap__img {
  max-width: 40%;
  margin: 0 30%;
  margin-bottom: 3rem;
}
.tours__list_item {
  margin-bottom: 3rem;
}
.tour__list_item_img {
  max-width: 80%;
  margin: 0 10%;
  border-radius: 20px;
}
.tour__list_item_text {
  padding: 1rem;
  text-align: center;
}
/* ----------------------------------------------price---------------------- */
.price__wrap_table {
  margin-top: 5rem;
}
.table {
  text-align: center;
  width: 100%;
  border-spacing: 10px;
}
.table__header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.contact__wrap {
  margin: 3rem 0;
  text-align: center;
  font-size: 1.5rem;
}
.contact__list {
  margin-top: 1rem;
  border-bottom: #6c74e7 3px solid;
  padding-bottom: 2rem;
}
.contact__list__item {
  padding-bottom: 1rem;
}
.bottom__box {
  text-align: center;
  margin-bottom: 3rem;
}
@media (min-width: 576px) {
  .menu__list_item a {
    font-size: 1rem;
  }
  .main__content_p {
    margin-top: 0.5rem;
  }
  .main__content_contact {
    width: 50%;
  }
  .main__content_society {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .main__content_header {
    padding: 0 10%;
  }
  .main__content_p {
    margin-top: 5%;
  }
  .main__content_contact {
    width: 40%;
  }
  .main__content_society {
    margin-top: 25%;
  }
  .society__box {
    width: 70%;
    margin: auto;
  }
  .tour__list_item_text {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .main__content_header {
    padding: 0 20%;
  }
  .main__content_p {
    margin: 5% 0;
  }
  .main__content_contact {
    margin-top: 10%;
  }
  .main__content_society {
    margin-top: 20%;
  }
  .tours__list_item {
    display: flex;
    margin: 5%;
  }
  .tour__list_item_img {
    max-width: 40%;
    margin: auto;
  }
  .table {
    font-size: 1rem;
  }
}
